@keyframes pulse-alert {
    0% {
        color: rgba(255, 255, 255, .05);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes new-tweet {
    0% {
        background: lightyellow;
    }

    100% {
        background: rgba(255, 255, 255, .0);
    }
}

@keyframes active {
    0% {
        color: lightgreen;
    }

    100% {
        color: green;
    }
}