*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  background: $color-primary;
  font-family: 'Noto Serif', serif;
}

body {
  box-sizing: border-box;
}

.label {
  font-size: 3.5rem;

}

.widgetActive {
  position: absolute;
  width: 100%;
}

.widgetInactive {
  width: 100%;
  opacity: 0;
  position: absolute;
}

.component {

  &__h1 {
    font-size: 5.5rem;
  }

  &__h2 {
    font-size: 4.5rem;
    padding: .5rem;
    text-align: center;
  }

}

.active {
  background: $color-white !important;
  color: black !important;
  box-shadow: none;
  // border: 0;

}

.td-even {
  background: rgba(21, 67, 96, .15);
}

.inactive {
  // background: black;
}

.hidden {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $color-white;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSecondary{
  background: $color-secondary !important;
}
.sliderPrimary{
  background: $color-primary !important;
}

input:checked+.slider {
  background-color: $color-secondary;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#myMap {
  position: static !important;
}

#MicrosoftNav {
  display: none;
}

.green{
  background: lightgreen !important;
}
.orange{
  background: orange;
}
.red{
  background: red;
}

.huge-text{
  font-size: 6rem;
  color: red;
}

.modal-bg{
  position: absolute;
  background: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  // display: flex;
  // justify-content: space-around
}