*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {  
  font-size: 62.5%;
  font-family: "Noto Serif", serif;
}
::-webkit-scrollbar {
  display: none;
}
body {
  box-sizing: border-box;
  @include respond(phone) {
    min-height: 100vh;
    background: $color-primary;
  }
}

.label {
  font-size: 3.5rem;
}

.widgetActive {
  position: absolute;
  width: 100%;
}

.widgetInactive {
  width: 100%;
  opacity: 0;
  position: absolute;
}

.component {
  overflow-y: auto;
border-top: 1px solid black;
  @include respond(tab-port) {
    width: 100vw;
    // height: 100%;
    &--hidden {
      display: none;
    }
    &--visibile {
      display: block;
    }
  }

  &__h1 {
    font-size: 4.5rem;
  }

  &__h2 {
    font-size: 3.5rem;
    padding: 0.5rem;
    text-align: center;
  }
}

.active {
  background: rgb(94, 132, 156) !important;
  // color: black !important;
  box-shadow: none;
  // border: 0;
}

.td-even {
  background: rgba(0, 0, 0, 0.05);
}

.inactive {
  // background: black;
}

.hidden {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px;

  &--speed-btn {
    height: 24px;
    width: 50px;
  }

  &--table-chart {
    width: 34.17px;
    height: 16.75px;
    background: $color-primary;

    & > .slider:before {
      height: 11.39px;
      width: 11.39px;
      bottom: 2.5px;
      left: 2px;
    }
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-secondary;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: $color-white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderSecondary {
  background: $color-secondary !important;
}

.sliderPrimary {
  background: $color-primary !important;
}

input:checked + .slider {
  background-color: $color-secondary !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider--white {
  background: rgba(21, 67, 96, 0.75) !important;
  &:before {
    background: white;
  }
}

#myMap {
  position: static !important;
}

.mapTab {
  @include respond(tab-port) {
    height: 100vh !important;
    width: 100vw !important;
  }
}

#MicrosoftNav {
  display: none;
}

.green {
  background: lightgreen !important;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.red {
  background: red;
}

.huge-text {
  font-size: 6rem;
  color: red;
}

.modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  z-index: 999;
}

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: $color-primary;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle--checked .react-toggle-track {
  background-color: $color-secondary;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: $color-secondary;
}

.react-toggle-track-check {
  position: absolute;
  width: 10px;
  height: 7px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: $color-secondary;
}
