.activationList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(21, 67, 96, 0.95) 0%,
      rgba(21, 67, 96, 0.95) 100%
    ),
    url("https://humanityroad.com/apps/us/images/hr-logo.jpg");
  background-size: cover;
  background-position: center;

  &__spinner-parent,
  &__no-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
  }

  &__no-data {
    // align-items: baseline;
    font-size: 3rem;
    color: white;
  }

  &__admin-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: $color-secondary;
    border: 0;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    box-shadow: 0 1rem 2rem black;
    cursor: pointer;
    &:hover {
      background: $color-white;
      color: black;
    }

    &:active {
      box-shadow: none;
    }
  }

  &__banner {
    margin: 5rem auto;
    height: 7vh;
  }

  &__table {
    background: rgba(255, 255, 255, 1);
    border-radius: 25px;
    padding: 3rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;

    @include respond(tab-port) {
      padding: 1rem;
    }

    &--admin-panel {
      width: 100%;
    }

    & > caption {
      color: white;
      font-size: 4rem;
      margin: 1rem auto;
    }
  }

  &__th {
    font-size: 3rem;
    &--hidden {
      visibility: hidden;
    }
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
  }

  &__tr {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.25s;

    &:hover {
      transform: scale(1.025);
    }

    &:hover > .activationList__td--open {
      transition: 0.5s;
    }
  }

  &__td {
    &--admin-panel {
      width: 7.5%;
    }
    text-align: center;
    font-size: 2.5rem;
    border: 0 !important;
    @include respond(tab-land) {
      font-size: 2rem;
    }
    & > button {
      margin: auto;
    }

    &--open {
      cursor: pointer;
      display: flex;
      padding: 1rem 0;
      justify-content: center;
      align-items: center;

      & > img {
        width: 5rem;
        height: 5rem;
      }
    }

    &--active {
      color: lightgreen;
      font-weight: bold;
      animation: active 1s alternate infinite;
    }

    &--inactive {
      color: $color-red;
    }

    &--edit {
      & > button {
        font-size: 2.5rem;
        padding: 0.5rem 1.5rem;
        background: $color-secondary;
        color: $color-white;
        border: 0;
        outline: none;
        box-shadow: 0 0.5rem 1rem black;
        cursor: pointer;
        transition: .25s;

        @include respond(tab-land) {
          font-size: 2rem;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    &--activate {
      & > button {
        font-size: 2.5rem;
        padding: 0.5rem 1.5rem;
        background: #228b22;
        color: $color-white;
        border: 0;
        outline: none;
        box-shadow: 0 0.5rem 1rem black;
        cursor: pointer;

        transition: .25s;
        @include respond(tab-land) {
          font-size: 2rem;
        }

        &:hover {
          box-shadow: none;
        }
      }
    }

    &--deactivate {
      & > button {
        font-size: 2.5rem;
        padding: 0.5rem 1.5rem;
        background: #dc143c;
        color: $color-white;
        border: 0;
        outline: none;
        box-shadow: 0 0.5rem 1rem black;
        @include respond(tab-land) {
          font-size: 2rem;
        }

        &:hover {
          background: $color-white;
          color: black;
        }
      }
    }
  }

  &__level-indicator {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    @include respond(tab-land) {
      width: 4.5rem;
      height: 4.5rem;
    }
    &--green {
      background: #228b22;
    }

    &--yellow {
      color: black;
      background: yellow;
    }

    &--red {
      background: #dc143c;
    }
  }
}
