.headerBar{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
    color: whitesmoke;
    max-height: 20vh;
}

.infoBar{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}
