.headerBar {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-content: center;
  color: whitesmoke;
  height: 17vh;
  margin-right: auto;
  background: $color-primary;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  @include respond(tab-port) {
    width: 100vw;
    z-index: 999;
  }
}

.infoBar {
  display: flex;
  flex-direction: column;
  // height: 80vh;
  // @include respond(big-desktop) {
  //   height: 86vh;
  // }
}

@include respond(tab-port) {
  .mobileWrapper {
    &--active {
      display: block;
    }
    &--inactive {
      display: none;
    }
  }
}
