.headerBar{
    display: flex;
    justify-content: center;
    align-content: center;
    background: darkgray;
    font-size: 2.5rem;
}

// .infoBar{
//     display: flex;
//     justify-content: center;
//     align-content: center;
//     flex-direction: column;
// }