.cities {
  &__table {
    overflow: scroll;
    width: 100%;
  }

  &__th {
    font-size: 2rem;
    text-decoration: underline black;
    @include respond(big-desktop) {
      font-size: 2.25rem;
    }
  }

  &__td {
    font-size: 1.5rem;
    padding: 0.25rem 0;
    align-content: center;
    align-items: center;
    @include respond(big-desktop) {
      font-size: 2rem;
    }
  }

  &__city {
    align-content: center;
    align-items: center;
    padding: 0;
    font-weight: bold;
  }
}
