.earthquake {
  position: relative;

  &__original-event {
    display: flex;
    display: flex;
    flex-wrap: wrap;
  }

  &__top-row {
    opacity: 0;
    display: none;
  }

  &__feed-item-parent {
    &:hover {
      background: rgba(243, 142, 32, 0.25);
    }
  }

  &__td {
    text-align: left;

    & > a {
      color: black;
    }

    &--name {
      padding-left: 1rem;
    }
  }

  &__feed-toggle {
    z-index: 1;
    display: flex;
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center;
    @include respond(tab-land) {
      font-size: 1.75rem;
    }
  }

  &__feed-h2 {
    font-size: 2.5rem;
    display: flex;
    margin-right: 1rem;
    border-bottom: 2px solid $color-secondary;
    @include respond(tab-land) {
      font-size: 2.25rem;
    }
  }

  &__type-box {
    text-align: center;
    font-size: 1.5rem;
    width: 33.33%;
    padding: 0.25rem;
    @include respond(big-desktop) {
      font-size: 2rem;
    }

    & > h3 {
      margin: auto auto 0.5rem auto;
      font-size: 2rem;
      border-bottom: 2px solid $color-secondary;
      width: fit-content;
      @include respond(big-desktop) {
        font-size: 2.25rem;
      }
    }
  }

  &__no-events {
    font-size: 2.5rem;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
