.weather {
  height: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  // border-bottom: 1px solid black;
  // border-left: 1px solid black;
  // border-top: 1px solid black;
  width: 50vw;
  background: $color-white;

  &__region-container {
    top: 0;
    position: absolute;
    width: fit-content;
    right: 0;
    height: 100%;
    @include respond(tab-port) {
      position: static;
    }
  }

  &__heading {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    transition: 0.25s all;
    border-bottom: 1px solid black;

    @include respond(tab-land) {
      height: 6vh;
    }

    &--map-overlay {
      background: rgba(21, 67, 96, 0.55);
      @include respond(phone) {
        background: $color-primary;
      }
    }

    &--absolute {
      position: absolute;
      width: 100%;
      z-index: 999;

      @include respond(tab-port) {
        position: static;
      }
    }
  }

  &__event-heading {
    background: $color-secondary;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    font-size: 2.5rem;
    border-right: 1px solid black;
    @include respond(tab-land) {
      font-size: 2rem;
    }

    @include respond(phone) {
      display: none;
    }
    @include respond(big-desktop) {
      font-size: 2.75rem;
    }
  }

  &__btn-parent {
    width: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
    background: $color-secondary;
    color: $color-white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto 0.25rem;
    outline: none;
    border: 0;
    cursor: pointer;

    @include respond(phone) {
      font-size: 1.25rem;
      box-shadow: none;
    }
    @include respond(big-desktop) {
      font-size: 2rem;
    }

    &:hover {
      background: #5e849c;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.weather-event {
  display: flex;
  justify-content: flex-start;
  position: relative;

  &__no-alerts {
    font-size: 3rem;
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__btns-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    border-right: 1px solid black;
  }

  &__alerts-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 75%;
    height: 100%;
    margin-left: auto;
  }

  &__alerts-h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    color: $color-white;
    background: $color-primary;
    // font-weight: bold;

    @include respond(tab-land) {
      font-size: 1.75rem;
    }

    @include respond(phone) {
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
      background: rgba(21, 67, 96, 0.66);
    }
  }
}

.esri-view {
  height: 100%;
  width: 100%;
}
