.followerCount {
  width: 75%;
  margin-left: auto;

  &__label {
    margin: auto 0.5rem;
  }

  &__table {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }

  &__th {
    font-size: 2rem;
    text-align: center;
    width: 20%;

    &--name {
      width: 60%;
    }
  }

  &__tr {
    &:hover {
      background: rgba(243, 142, 32, 0.25);
      & a {
        text-decoration: underline;
        text-decoration-color: black;
      }
    }
  }

  &__td {
    font-size: 1.75rem;
    text-align: center;
    & > a {
      color: black;
      &:hover {
        text-decoration-color: $color-white;
      }
    }
  }
}
