.hashtags {
  height: 100%;

  &__toggle-btn-parent {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;

    &--table-chart {
      font-size: 1.5rem;
      @include respond(big-desktop) {
        font-size: 2rem;
      }
    }
  }

  &__label {
    margin: auto 0.5rem;
  }
}
