.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__name {
    font-size: 3rem;
    @include respond(big-desktop){
      font-size: 3.5rem;
    }
  }

  &__headings-array {
    display: flex;
    margin: 0.5rem auto;
    color: $color-secondary;
  }

  &__type-val-parent {
    padding: 0 1rem;
  }

  &__h3 {
    font-size: 3rem;
    color: $color-white;
  }
  &__value {
    font-size: 3rem;
    font-weight: bold;
  }

  &__state-select-btn {
    padding: .5rem 1rem;
    margin: .25rem;
    text-align: center;
    font-size: 1.75rem;
    background: $color-secondary;
    border: 0;
    box-shadow: 0 0.25rem 1.5rem black;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;
    @include respond(big-desktop){
      font-size: 2rem;
    }
    &:hover {
      background: $color-white;
      color: black;
    }

    &:active {
      box-shadow: none;
    }
  }
}
