.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__name {
    @include respond(tab-land) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2rem;
    }

    font-size: 3.5rem;
  }

  &__state-select-btn {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    text-align: center;
    font-size: 1.75rem;
    background: $color-secondary;
    border: 0;
    box-shadow: 0 0.25rem 1.5rem black;
    color: $color-white;
    font-weight: bold;
    cursor: pointer;

    @include respond(tab-land) {
      font-size: 1.75rem;
    }

    @include respond(phone) {
      font-size: 1.25rem;
    }

    @include respond(big-desktop) {
      font-size: 2rem;
    }
    &:hover {
      background: white;
    }

    &:active {
      box-shadow: none;
      color: white;
    }
  }
}
