#parent {
    // background: rgba(255, 255, 255, .95);
    height: 76vh;
    // overflow-y: scroll; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, .95) 100%), url('/images/hr-logo.jpg');
    overflow-y: scroll;
    background-size: contain;
    background-repeat: no-repeat;
}

.social-media {
    width: 50vw;
    position: relative;
    overflow-y: scroll;
    background: linear-gradient(to bottom, rgba(255, 255, 255, .95) 0%, rgba(255, 255, 255, .95) 100%), url('/images/hr-logo.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 83vh;

    &__heading-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
    }

    &__heading {
        background: $color-secondary;
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.25rem;
        color: $color-white;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
    }

    &__btn-container {
        // text-align: center;
        height: 100%;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        color: $color-white;
        border-bottom: 3px solid black;
        background: rgba(21, 67, 96, .75);
        padding: 0 .5rem;
        border-top: 3px solid black;

        &>span {
            margin: auto .5rem;
            font-size: 3.5rem;
        }
    }

    &__chart-btn {
        border: 0;
        outline: none;
        // box-shadow: 0 .25rem 1rem black;
        background: transparent;
        margin-left: 4rem;
        background: transparent;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .075s box-shadow, .5s transform;
        padding: .5rem;
        cursor: pointer;

        &:active {
            box-shadow: none;
            background: lightyellow;
        }

        &:hover {
            transform: rotate(360deg);
        }
    }

    &__btn {
        padding: .5rem;
        font-size: 2rem;
        width: 20%;
    }

    &__tweet {
        font-size: 2.5rem;
    }
}