.status {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__alert {
    // animation: pulse-alert 2s ease-in-out alternate infinite;
    color: black;
    font-size: 5rem;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(big-desktop) {
      width: 9rem;
      height: 9rem;
      font-size: 5.5rem;
    }
  }
}
