.trends {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;

  &__btn-parent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    position: absolute;
    left: 0;
    border-right: 1px solid black;
  }

  &__btn {
    padding: 0.5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    color: $color-white;
    background: $color-primary;
    cursor: pointer;
    font-size: 2rem;
    @include respond(tab-land) {
     font-size: 1.5rem;
    }

    &:hover {
      background: $color-white;
      color: black;
    }
  }
}
