.weather-alert {
  &__alerts-parent {
    cursor: pointer;
    width: 100%;
    background: white;
    transition: 0.25s all;

    &:hover {
      // box-shadow: 0px 1px 3px black;
      & > * .weather-alert__time-parent {
        background: rgba(243, 142, 32, 0.85);
      }
    }
  }

  &__time-locations-parent {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;

    @include respond(tab-land) {
      font-size: 1.5rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }

    @include respond(big-desktop) {
      font-size: 1.75rem;
    }
  }

  &__time-parent {
    display: flex;
    flex-direction: column;
    background: rgba(243, 142, 32, 0.5);
    // color: white;
    padding: 0.25rem;
    @include respond(phone) {
      font-size: 1.25rem;
      width: 100%;
    }
  }

  &__clock-item {
    white-space: nowrap;
  }

  &__locations-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    background: whitesmoke;
    padding: 0.5rem;

    @include respond(phone) {
      font-size: 1rem;
    }
  }

  &__desc {
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    background: white;
    @include respond(phone) {
      font-size: 1.25rem;
    }
  }
}

.open {
  border-top: 0;
}

.close {
  border: 0;

  & > .weather-alert__desc {
    display: none;
  }
}
