.weather-alert {
  &__alerts-parent {
    cursor: pointer;
    width: 100%;
    margin-bottom: 3px;
    background: whitesmoke;
    transition: 0.25s all;

    &:hover {
      background: white;
      box-shadow: 0px 1px 3px black;
    }
  }

  &__time-locations-parent {
    display: flex;
    font-size: 1.5rem;

    @include respond(tab-port) {
      font-size: 1.25rem;
    }

    @include respond(tab-land) {
      font-size: 1.5rem;
    }
    @include respond(big-desktop) {
      font-size: 1.75rem;
    }
  }

  &__time-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 0.25rem;
  }

  &__clock-item {
    white-space: nowrap;
  }

  &__locations-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    width: 100%;
    font-size: 1.5rem;
  }

  &__desc {
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    @include respond(big-desktop) {
      font-size: 1.5rem;
    }
  }
}

.open {
  border-top: 0;
}

.close {
  border: 0;

  & > .weather-alert__desc {
    display: none;
  }
}
