.weather {
  height: 41.5vh;
  margin: auto;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  width: 50vw;
  background: white; }
  .weather__heading {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background: rgba(21, 67, 96, 0.75); }
    .weather__heading--absolute {
      position: absolute;
      width: 100%;
      z-index: 999; }
  .weather__alerts-heading {
    position: absolute;
    left: 0px;
    top: 0;
    background: #f38e20;
    font-size: 3.5rem;
    width: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black; }
  .weather__event-heading {
    background: #f38e20;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.25rem;
    border-right: 3px solid black; }
  .weather__btn-parent {
    width: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .weather__btn {
    border: 0;
    padding: .5rem 2rem;
    border-right: 1px solid black;
    font-size: 2.25rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 .25rem 1.25rem black;
    margin: auto .25rem;
    outline: none; }
    .weather__btn:hover {
      background: white;
      color: black; }
    .weather__btn:active {
      box-shadow: none; }

.weather-event {
  height: 85%;
  display: flex;
  justify-content: flex-start; }
  .weather-event__no-alerts {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #228B22; }
  .weather-event__container {
    display: flex;
    width: 100%; }
  .weather-event__btns-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    border-bottom: 2px solid black; }
  .weather-event__alerts-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 75%;
    height: 100%;
    margin-left: auto; }
  .weather-event__alerts-h2 {
    font-size: 2.25rem;
    padding: .5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    color: white;
    background: #154360;
    font-weight: bold; }
    .weather-event__alerts-h2:hover {
      cursor: pointer;
      background: white;
      color: black; }

.status {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .status__alert {
    font-size: 10rem;
    animation: pulse-alert 2s ease-in-out alternate infinite;
    border-radius: 100%;
    width: 12.5rem;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f38e20; }

.clock {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  padding: 1rem;
  position: relative; }
  .clock > h4 {
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #f38e20; }
  .clock__back-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    background: #f38e20;
    color: white;
    border: 0;
    outline: 0;
    padding: .5rem;
    font-size: 2.5rem;
    box-shadow: 0 .5rem 1.5rem black; }
    .clock__back-btn:hover {
      background: white;
      color: black; }
    .clock__back-btn:active {
      box-shadow: none; }

.heading {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .heading__name {
    font-size: 5rem; }
  .heading__headings-array {
    display: flex;
    margin: .5rem auto;
    color: #f38e20; }
  .heading__type-val-parent {
    padding: 0 1rem; }
  .heading__h3 {
    font-size: 4rem;
    color: white; }
  .heading__value {
    font-size: 3rem;
    font-weight: bold; }
  .heading__state-select-btn {
    width: 9vw;
    padding: 1rem;
    text-align: center;
    font-size: 2.5rem;
    background: #f38e20;
    border: 0;
    box-shadow: 0 .25rem 1.5rem black;
    margin: .5rem;
    color: white;
    font-weight: bold;
    cursor: pointer; }
    .heading__state-select-btn:hover {
      background: white;
      color: black; }
    .heading__state-select-btn:active {
      box-shadow: none; }

.headerBar {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
  color: whitesmoke;
  max-height: 20vh; }

.infoBar {
  display: flex;
  justify-content: center;
  align-content: flex-start; }

.regionInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 41.5vh;
  border-left: 3px solid black;
  position: relative;
  background: white; }
  .regionInfo__container {
    display: flex; }
  .regionInfo__btn-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    border-right: 3px solid black;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    max-height: 100%; }
    .regionInfo__btn-container > div {
      font-size: 3.25rem;
      width: 100%;
      background: #f38e20;
      border-bottom: 3px solid black;
      color: white;
      height: 7vh;
      display: flex;
      justify-content: center;
      align-items: center; }
  .regionInfo__btn {
    cursor: pointer;
    border: 0;
    font-size: 2.25rem;
    background: #154360;
    color: white;
    font-weight: bold;
    padding: .75rem 0;
    border-bottom: 1px solid black; }
    .regionInfo__btn:hover {
      background: white;
      color: black; }
  .regionInfo__table {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    font-size: 2rem;
    margin-left: auto; }
  .regionInfo__name-th {
    display: none; }
  .regionInfo__social-media-th {
    display: none; }
  .regionInfo__name {
    padding: 0 .5rem;
    width: 100rem;
    overflow: hidden; }
    .regionInfo__name:hover {
      text-decoration: underline; }
    .regionInfo__name > a {
      color: black;
      text-decoration: none; }
  .regionInfo__tr:hover {
    background: rgba(243, 142, 32, 0.25); }
  .regionInfo__social-media {
    padding: .5rem;
    margin: 0; }
  .regionInfo__sm-icon {
    display: flex; }
  .regionInfo__no-pointer {
    cursor: not-allowed; }

#parent {
  height: 76vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), url("/images/hr-logo.jpg");
  overflow-y: scroll;
  background-size: contain;
  background-repeat: no-repeat; }

.social-feed {
  width: 50vw;
  position: relative;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), url("/images/hr-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 83vh; }
  .social-feed__heading-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh; }
  .social-feed__stream-disabled {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem; }
  .social-feed__heading {
    background: #f38e20;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.25rem;
    color: white;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-top: 3px solid black; }
  .social-feed__btn-container {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    color: white;
    border-bottom: 3px solid black;
    background: rgba(21, 67, 96, 0.75);
    padding: 0 .5rem;
    border-top: 3px solid black; }
    .social-feed__btn-container > span {
      margin: auto .5rem;
      font-size: 3.5rem; }
  .social-feed__feed-toggle {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; }
  .social-feed__label {
    margin: auto .5rem; }
  .social-feed__chart-btn {
    border: 0;
    padding: .5rem 2rem;
    border-right: 1px solid black;
    font-size: 2.25rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto .25rem;
    outline: none; }
    .social-feed__chart-btn:hover {
      color: black;
      background: white; }
    .social-feed__chart-btn:active {
      box-shadow: none; }
  .social-feed__back-btn {
    border: 0;
    padding: .5rem 2rem;
    border-right: 1px solid black;
    font-size: 2.25rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto 5%;
    outline: none; }
    .social-feed__back-btn:hover {
      color: black;
      background: white; }
    .social-feed__back-btn:active {
      box-shadow: none; }
  .social-feed__btn {
    border: 0;
    padding: .5rem 2rem;
    border-right: 1px solid black;
    font-size: 2.25rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto .25rem;
    outline: none;
    width: 20%; }
    .social-feed__btn:hover {
      background: white;
      color: black; }
    .social-feed__btn:active {
      box-shadow: none; }
  .social-feed__tweet {
    font-size: 2.5rem; }

.weather-alert__alerts-parent {
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  margin-bottom: .25rem;
  background: whitesmoke; }
  .weather-alert__alerts-parent:hover {
    background: white !important; }
  .weather-alert__alerts-parent:hover > * .weather-alert__time-parent {
    background: rgba(243, 142, 32, 0.5); }

.weather-alert__time-locations-parent {
  display: flex; }

.weather-alert__time-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.25rem;
  width: 55%;
  background: rgba(243, 142, 32, 0.75); }

.weather-alert__clock-item {
  white-space: nowrap; }

.weather-alert__locations-parent {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 .75rem;
  width: 100%; }

.weather-alert__desc {
  font-size: 2rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .75rem; }

.open {
  border-top: 0; }

.close {
  border: 0; }
  .close > .weather-alert__desc {
    display: none; }

.tweet {
  border-bottom: 1px solid #154360;
  font-size: 2rem;
  padding: 1rem;
  animation: new-tweet 1s ease-in forwards;
  display: flex;
  align-items: center; }
  .tweet__info-parent {
    display: flex;
    flex-direction: column;
    margin-left: .5rem; }
  .tweet__profile-info {
    display: flex; }
    .tweet__profile-info > div {
      margin: auto .5rem; }
  .tweet__text {
    padding: .5rem; }
  .tweet__hashtag-parent {
    display: flex; }
  .tweet__hashtag {
    display: inline-block;
    width: fit-content;
    color: red;
    margin: auto .5rem; }

.cities__table {
  overflow: scroll;
  width: 100%; }

.cities__th {
  font-size: 2.5rem; }

.cities__td {
  font-size: 2.25rem;
  padding: .5rem 0; }

.cities__city {
  display: inline-block;
  border-bottom: 3px solid #f38e20;
  padding: 0; }

#twitterWidgets-parent {
  background: red;
  width: 100%;
  height: fit-content; }

.activationList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-size: 3rem;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(21, 67, 96, 0.95) 0%, rgba(21, 67, 96, 0.95) 100%), url("/images/hr-logo.jpg");
  background-size: cover;
  background-position: center; }
  .activationList__admin-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f38e20;
    border: 0;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    box-shadow: 0 1rem 2rem black;
    cursor: pointer; }
    .activationList__admin-btn:hover {
      background: white;
      color: black; }
    .activationList__admin-btn:active {
      box-shadow: none; }
  .activationList__banner {
    margin: 5rem auto;
    height: 7vh; }
  .activationList__table {
    background: white;
    border-radius: 25px;
    padding: 3rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
    .activationList__table--admin-panel {
      width: 100%; }
  .activationList__stream-indicator {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    margin: auto; }
    .activationList__stream-indicator--enabled {
      background: #228B22;
      animation: fade-in .5s alternate infinite; }
    .activationList__stream-indicator--disabled {
      background: #DC143C; }
  .activationList__th {
    font-size: 3.5rem; }
  .activationList__tr {
    border: 1px solid black; }
    .activationList__tr:hover > .activationList__td--open {
      transform: scale(1.25); }
  .activationList__td {
    text-align: center;
    font-size: 3rem;
    border: 0 !important;
    padding: 0 3rem; }
    .activationList__td--open {
      cursor: pointer;
      display: flex;
      padding: 1rem 0;
      justify-content: center;
      align-items: center; }
      .activationList__td--open > img {
        width: 5rem;
        height: 5rem; }
    .activationList__td--active {
      color: green;
      font-weight: bold;
      animation: active 1s alternate infinite; }
    .activationList__td--inactive {
      color: #DC143C; }
    .activationList__td--edit > button {
      font-size: 3rem;
      padding: .5rem 1.5rem;
      background: #f38e20;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 .5rem 1rem black;
      cursor: pointer; }
      .activationList__td--edit > button:hover {
        background: white;
        color: black; }
    .activationList__td--activate > button {
      font-size: 3rem;
      padding: .5rem 1.5rem;
      width: 100%;
      background: #228B22;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 .5rem 1rem black;
      cursor: pointer; }
      .activationList__td--activate > button:hover {
        background: white;
        color: black; }
    .activationList__td--deactivate > button {
      font-size: 3rem;
      padding: .5rem 1.5rem;
      width: 100%;
      background: #DC143C;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 .5rem 1rem black; }
      .activationList__td--deactivate > button:hover {
        background: white;
        color: black; }
  .activationList__level-indicator {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold; }
    .activationList__level-indicator--green {
      background: #228B22; }
    .activationList__level-indicator--yellow {
      background: yellow; }
    .activationList__level-indicator--red {
      background: #DC143C; }

.adminLogin {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999; }
  .adminLogin__heading {
    border-bottom: 3px solid #f38e20;
    width: fit-content;
    margin: auto; }
  .adminLogin__form {
    text-align: center;
    padding: 2rem;
    position: relative;
    background: white;
    width: 50%; }
    .adminLogin__form > h2 {
      text-align: center; }
  .adminLogin__back-btn {
    background: #f38e20;
    color: white;
    border: 1px solid black;
    outline: none;
    font-size: 2rem;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem; }
    .adminLogin__back-btn:hover {
      background: white;
      color: black; }
  .adminLogin__code-input {
    text-align: center;
    font-size: 3rem;
    width: 50%;
    margin: 3rem auto;
    border: 1px solid black;
    padding: .5rem 1.5rem; }
  .adminLogin__submit-btn {
    background: #f38e20;
    color: white;
    border: 1px solid black;
    outline: none;
    font-size: 3rem;
    margin: auto 1rem;
    padding: .5rem 1.5rem; }
    .adminLogin__submit-btn:hover {
      background: white;
      color: black; }

.admin-panel__parent {
  background: white;
  width: 85%;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  position: relative; }

.admin-panel__heading {
  text-align: center;
  font-size: 5.5rem;
  border-bottom: 3px solid #f38e20;
  width: fit-content;
  margin: auto; }

.admin-panel__create-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  background: #f38e20;
  color: white;
  border: 0;
  box-shadow: 0 .5rem 2rem black; }
  .admin-panel__create-btn:active {
    box-shadow: none; }
  .admin-panel__create-btn:hover {
    background: white;
    color: black; }

.admin-panel__back-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem 1rem;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  background: #f38e20;
  color: white;
  border: 0;
  box-shadow: 0 .5rem 2rem black;
  cursor: pointer; }
  .admin-panel__back-btn:hover {
    background: white;
    color: black; }

.createActivation {
  margin: 1rem auto; }
  .createActivation__form {
    background: white;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    position: relative; }
  .createActivation__search-form {
    width: 35%; }
  .createActivation__heading {
    font-size: 4.5rem;
    border-bottom: 3px solid #f38e20;
    width: fit-content;
    margin: auto; }
  .createActivation__exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f38e20;
    color: white;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 0 .5rem 2.5rem black; }
    .createActivation__exit-btn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .createActivation__label-input-parent {
    width: 85%;
    margin: auto;
    margin: 1rem auto;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .createActivation__input-wrapper {
    position: relative; }
  .createActivation__label {
    margin-right: 2rem;
    width: 25%;
    text-align: right; }
  .createActivation__input {
    width: 35%;
    font-size: 3rem;
    padding: .5rem 1rem; }
    .createActivation__input--select {
      text-align-last: center; }
    .createActivation__input--search-form {
      width: 100%; }
  .createActivation__add-search-btn {
    position: absolute;
    top: 50%;
    right: -22.5%;
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
    background: #f38e20;
    border: 0;
    font-size: 1.5rem;
    outline: 0;
    transform: translateY(-50%);
    border: 1px solid transparent;
    cursor: pointer; }
    .createActivation__add-search-btn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .createActivation__slider-parent {
    width: 100%;
    position: relative; }
  .createActivation__interval-count {
    position: absolute;
    right: 7%;
    top: 0; }
  .createActivation__search-params-totals {
    background: white;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
    min-height: 15vh; }
    .createActivation__search-params-totals > h2 {
      font-size: 3rem; }
    .createActivation__search-params-totals > * h2 {
      font-size: 2.5rem; }
  .createActivation__single-search-item {
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    padding: 1rem;
    background: #154360;
    color: white;
    border: 1px solid transparent;
    cursor: pointer; }
    .createActivation__single-search-item:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .createActivation__switch {
    margin: auto 1rem; }
  .createActivation__submit-btn {
    background: #f38e20;
    color: white;
    padding: .5rem 1.5rem;
    border: 0;
    outline: 0;
    font-size: 3.5rem;
    box-shadow: 0 .5rem 2.5rem black;
    cursor: pointer; }
    .createActivation__submit-btn:hover {
      background: white;
      color: black; }
  .createActivation__delete-btn {
    background: #f38e20;
    color: white;
    padding: .5rem 1.5rem;
    border: 0;
    outline: 0;
    font-size: 3.5rem;
    box-shadow: 0 .5rem 2rem black;
    cursor: pointer;
    margin: auto 1rem; }
    .createActivation__delete-btn:hover {
      background: white;
      color: black; }

.css-10nd86i {
  width: 35%; }

.earthquake {
  position: relative; }
  .earthquake__original-event {
    display: flex;
    flex-wrap: wrap;
    height: 34.5vh; }
  .earthquake__top-row {
    opacity: 0; }
  .earthquake__feed-item-parent:hover {
    background: rgba(243, 142, 32, 0.25); }
  .earthquake__td {
    text-align: left; }
    .earthquake__td > a {
      color: black; }
    .earthquake__td--name {
      padding-left: 1rem; }
  .earthquake__feed-toggle {
    z-index: 1;
    position: absolute;
    display: flex;
    font-size: 2.25rem;
    padding: .5rem;
    background: rgba(21, 67, 96, 0.75);
    color: white;
    font-weight: bold;
    width: 25%;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    justify-content: center; }
  .earthquake__feed-h2 {
    width: 75%;
    position: absolute;
    left: 25%; }
  .earthquake__type-box {
    text-align: center;
    font-size: 2.25rem;
    width: 33.33%;
    padding: 1rem;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 33.33%; }
    .earthquake__type-box--title {
      width: 66.66%;
      font-weight: bold; }
    .earthquake__type-box--25 {
      width: 25%; }
    .earthquake__type-box > h3 {
      margin: auto auto .5rem auto;
      font-size: 2.75rem;
      border-bottom: 3px solid #f38e20;
      width: fit-content; }
  .earthquake__no-events {
    font-size: 3rem;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%); }

.selectEarthquake {
  width: 75%;
  margin: auto;
  max-height: 40rem;
  overflow: scroll; }
  .selectEarthquake__h2 {
    font-size: 3.5rem; }
  .selectEarthquake__row {
    cursor: pointer; }
    .selectEarthquake__row:hover {
      background: rgba(243, 142, 32, 0.25); }
  .selectEarthquake__label {
    margin-right: 2rem;
    width: 25%;
    text-align: right; }
  .selectEarthquake__selected-title {
    display: inline-block;
    width: 35%;
    font-size: 3rem;
    padding: .5rem 1rem; }
  .selectEarthquake__changeEarthquake {
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    background: #f38e20;
    border: 1px solid transparent;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer; }
    .selectEarthquake__changeEarthquake:hover {
      background: white;
      color: black;
      border: 1px solid black; }

.socialAnalysis {
  height: 100%; }

.entities__btns-parent {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 3px solid black;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7vh; }
  .entities__btns-parent > button {
    cursor: pointer;
    border: 0;
    font-size: 2.25rem;
    background: #154360;
    color: white;
    font-weight: bold;
    padding: .75rem 0;
    border-bottom: 1px solid black; }
    .entities__btns-parent > button:hover {
      background: white;
      color: black; }

.entities__table {
  width: 75%;
  max-height: 100%;
  overflow-y: scroll;
  font-size: 2rem;
  margin-left: auto; }

.entities__td {
  text-align: center;
  width: 20%; }
  .entities__td--entity-name {
    width: 60%; }

.entities__no-data {
  background: #f38e20;
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  margin: auto;
  font-size: 2.5rem; }

.trends {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start; }
  .trends__btn-parent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    position: absolute;
    left: 0;
    border-bottom: 2px solid black; }
  .trends__btn {
    font-size: 2.25rem;
    padding: .5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-right: 3px solid black;
    border-bottom: 1px solid black;
    color: white;
    background: #154360;
    font-weight: bold; }
    .trends__btn:hover {
      cursor: pointer;
      background: white;
      color: black; }

.hashtags {
  height: 100%; }
  .hashtags__toggle-btn-parent {
    display: flex;
    width: 100%;
    background: white;
    padding: .5rem 0;
    justify-content: center;
    align-items: center;
    font-size: 2.75rem;
    border-bottom: 3px solid black; }
  .hashtags__label {
    margin: auto .5rem; }

.wordcloud__parent {
  width: 75%;
  height: 100%; }

.followerCount {
  width: 75%;
  margin-left: auto; }
  .followerCount__label {
    margin: auto .5rem; }
  .followerCount__table {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll; }
  .followerCount__th {
    font-size: 3rem;
    text-align: center;
    width: 20%; }
    .followerCount__th--name {
      width: 60%; }
  .followerCount__tr:hover {
    background: rgba(243, 142, 32, 0.75); }
    .followerCount__tr:hover a {
      text-decoration: underline;
      text-decoration-color: black; }
  .followerCount__td {
    font-size: 2.25rem;
    text-align: center; }
    .followerCount__td > a {
      color: black; }
      .followerCount__td > a:hover {
        color: white;
        text-decoration-color: white; }

.u-flex-center {
  display: flex;
  justify-content: center;
  align-content: center; }

@keyframes pulse-alert {
  0% {
    color: rgba(255, 255, 255, 0.05); } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes new-tweet {
  0% {
    background: lightyellow; }
  100% {
    background: rgba(255, 255, 255, 0); } }

@keyframes active {
  0% {
    color: lightgreen; }
  100% {
    color: green; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::-webkit-scrollbar {
  display: none; }

html {
  font-size: 62.5%;
  background: #154360;
  font-family: 'Noto Serif', serif; }

body {
  box-sizing: border-box; }

.label {
  font-size: 3.5rem; }

.widgetActive {
  position: absolute;
  width: 100%; }

.widgetInactive {
  width: 100%;
  opacity: 0;
  position: absolute; }

.component__h1 {
  font-size: 5.5rem; }

.component__h2 {
  font-size: 4.5rem;
  padding: .5rem;
  text-align: center; }

.active {
  background: white !important;
  color: black !important;
  box-shadow: none; }

.td-even {
  background: rgba(0, 0, 0, 0.05); }

.hidden {
  display: none; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f38e20;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

.sliderSecondary {
  background: #f38e20 !important; }

.sliderPrimary {
  background: #154360 !important; }

input:checked + .slider {
  background-color: #f38e20; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

#myMap {
  position: static !important; }

#MicrosoftNav {
  display: none; }

.green {
  background: lightgreen !important; }

.orange {
  background: orange; }

.yellow {
  background: yellow; }

.red {
  background: red; }

.huge-text {
  font-size: 6rem;
  color: red; }

.modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999; }

.standard__data-parent {
  width: 75%;
  margin-left: auto; }

.standard__table {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  border-spacing: 0; }
  .standard__table--earthquake {
    max-height: 50% !important; }
  .standard__table--earthquake-feed {
    font-size: 2.25rem; }

.standard__th {
  font-size: 2.75rem;
  text-align: center;
  background: rgba(21, 67, 96, 0.75);
  color: white;
  padding: .5rem 0;
  border-bottom: 3px solid black; }
  .standard__th--name {
    width: 75%; }
  .standard__th--earthquake {
    height: 5vh; }

.standard__td {
  font-size: 2.25rem;
  text-align: center; }
