/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
.weather {
  height: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  width: 50vw;
  background: white; }
  .weather__region-container {
    top: 0;
    position: absolute;
    width: fit-content;
    right: 0;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .weather__region-container {
        position: static; } }
  .weather__heading {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #154360;
    transition: 0.25s all;
    border-bottom: 1px solid black; }
    @media only screen and (max-width: 75em) {
      .weather__heading {
        height: 6vh; } }
    .weather__heading--map-overlay {
      background: rgba(21, 67, 96, 0.55); }
      @media only screen and (max-width: 37.5em) {
        .weather__heading--map-overlay {
          background: #154360; } }
    .weather__heading--absolute {
      position: absolute;
      width: 100%;
      z-index: 999; }
      @media only screen and (max-width: 56.25em) {
        .weather__heading--absolute {
          position: static; } }
  .weather__event-heading {
    background: #f38e20;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    border-right: 1px solid black; }
    @media only screen and (max-width: 75em) {
      .weather__event-heading {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .weather__event-heading {
        display: none; } }
    @media only screen and (min-width: 106.5em) {
      .weather__event-heading {
        font-size: 2.75rem; } }
  .weather__btn-parent {
    width: fit-content;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .weather__btn {
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto 0.25rem;
    outline: none;
    border: 0;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .weather__btn {
        font-size: 1.25rem;
        box-shadow: none; } }
    @media only screen and (min-width: 106.5em) {
      .weather__btn {
        font-size: 2rem; } }
    .weather__btn:hover {
      background: #5e849c; }
    .weather__btn:active {
      box-shadow: none; }

.weather-event {
  display: flex;
  justify-content: flex-start; }
  .weather-event__no-alerts {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #228b22;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .weather-event__container {
    display: flex;
    width: 100%; }
  .weather-event__btns-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    border-right: 1px solid black; }
  .weather-event__alerts-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 75%;
    height: 100%;
    margin-left: auto; }
  .weather-event__alerts-h2 {
    font-size: 2rem;
    padding: 0.5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    color: white;
    background: #154360; }
    @media only screen and (max-width: 75em) {
      .weather-event__alerts-h2 {
        font-size: 1.75rem; } }
    @media only screen and (max-width: 37.5em) {
      .weather-event__alerts-h2 {
        font-size: 1.25rem; } }
    .weather-event__alerts-h2:hover {
      cursor: pointer;
      background: rgba(21, 67, 96, 0.66); }

.esri-view {
  height: 100%;
  width: 100%; }

.status {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .status__alert {
    color: black;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    font-size: 4.5rem; }
    @media only screen and (max-width: 37.5em) {
      .status__alert {
        font-size: 3rem;
        width: 5rem;
        height: 5rem; } }
    @media only screen and (min-width: 106.5em) {
      .status__alert {
        width: 9rem;
        height: 9rem;
        font-size: 6rem; } }

.clock {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .clock {
      font-size: 1.25rem; } }
  @media only screen and (min-width: 106.5em) {
    .clock {
      font-size: 1.75rem; } }
  .clock > h4 {
    padding: 0;
    margin: 0;
    font-size: 1.75rem;
    border-bottom: 2px solid #f38e20; }
    @media only screen and (max-width: 37.5em) {
      .clock > h4 {
        font-size: 1.5rem; } }
    @media only screen and (min-width: 106.5em) {
      .clock > h4 {
        font-size: 2rem; } }
  .clock__back-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 1rem;
    background: #f38e20;
    color: white;
    border: 0;
    outline: 0;
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-shadow: 0 0.5rem 1.5rem black;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .clock__back-btn {
        transform: translateY(0%);
        top: 0;
        padding: 0.5rem;
        margin: 0.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .clock__back-btn {
        padding: .25rem;
        margin: .25rem; } }
    @media only screen and (min-width: 106.5em) {
      .clock__back-btn {
        font-size: 1.75rem; } }
    .clock__back-btn:hover {
      background: white;
      color: black; }
    .clock__back-btn:active {
      box-shadow: none; }

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .heading__name {
    font-size: 3.5rem; }
    @media only screen and (max-width: 75em) {
      .heading__name {
        font-size: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__name {
        font-size: 2rem; } }
  .heading__state-select-btn {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    text-align: center;
    font-size: 1.75rem;
    background: #f38e20;
    border: 0;
    box-shadow: 0 0.25rem 1.5rem black;
    color: white;
    font-weight: bold;
    cursor: pointer; }
    @media only screen and (max-width: 75em) {
      .heading__state-select-btn {
        font-size: 1.75rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading__state-select-btn {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 106.5em) {
      .heading__state-select-btn {
        font-size: 2rem; } }
    .heading__state-select-btn:hover {
      background: white; }
    .heading__state-select-btn:active {
      box-shadow: none;
      color: white; }

.headerBar {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-content: center;
  color: whitesmoke;
  height: 17vh;
  margin-right: auto;
  background: #154360;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  @media only screen and (max-width: 56.25em) {
    .headerBar {
      width: 100vw;
      z-index: 999; } }

.infoBar {
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 56.25em) {
  .mobileWrapper--active {
    display: block; }
  .mobileWrapper--inactive {
    display: none; } }

.regionInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  border-left: 1px solid black;
  position: relative;
  background: white; }
  @media only screen and (max-width: 75em) {
    .regionInfo {
      height: 100%; } }
  .regionInfo__container {
    display: flex; }
  .regionInfo__btn-container {
    text-align: center;
    height: fit-content;
    border-bottom: 1px solid black;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    border-right: 1px solid black;
    overflow-y: scroll;
    height: 40vh; }
    @media only screen and (max-width: 75em) {
      .regionInfo__btn-container {
        height: fit-content; } }
    .regionInfo__btn-container > div {
      font-size: 2.5rem;
      width: 100%;
      background: #f38e20;
      color: white;
      height: 7vh;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 75em) {
        .regionInfo__btn-container > div {
          font-size: 2rem;
          height: 6vh; } }
      @media only screen and (max-width: 56.25em) {
        .regionInfo__btn-container > div {
          display: none; } }
      @media only screen and (min-width: 106.5em) {
        .regionInfo__btn-container > div {
          font-size: 2.75rem; } }
  .regionInfo__btn {
    cursor: pointer;
    border: 0;
    font-size: 2rem;
    background: #154360;
    color: white;
    padding: 0.75rem 0.25rem;
    border-bottom: 1px solid black;
    width: 100%;
    outline: none; }
    @media only screen and (max-width: 75em) {
      .regionInfo__btn {
        font-size: 1.5rem; } }
    .regionInfo__btn:hover {
      background: #5e849c; }
  .regionInfo__table {
    width: 75%;
    height: 40vh;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    font-size: 1.75rem;
    margin-left: auto; }
    @media only screen and (max-width: 56.25em) {
      .regionInfo__table {
        height: 79vh; } }
    @media only screen and (max-width: 75em) {
      .regionInfo__table {
        font-size: 1.25rem; } }
  .regionInfo__name-th {
    display: none; }
  .regionInfo__social-media-th {
    display: none; }
  .regionInfo__name {
    padding: 0 0.5rem;
    width: 100rem;
    overflow: hidden; }
    .regionInfo__name:hover {
      text-decoration: underline; }
    .regionInfo__name > a {
      color: black;
      text-decoration: none; }
  .regionInfo__tr:hover {
    background: rgba(243, 142, 32, 0.25); }
  .regionInfo__social-media {
    padding: 0.5rem;
    margin: 0; }
  .regionInfo__sm-icon {
    display: flex; }
  .regionInfo__no-pointer {
    cursor: not-allowed; }

.social-feed {
  width: 50vw;
  position: relative;
  overflow-y: scroll;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), url("https://humanityroad.com/apps/us/images/hr-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 83vh;
  margin-right: auto; }
  @media only screen and (max-width: 75em) {
    .social-feed {
      background-image: none; } }
  .social-feed__heading-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh; }
    @media only screen and (max-width: 56.25em) {
      .social-feed__heading-parent {
        width: 100vw; } }
    @media only screen and (max-width: 75em) {
      .social-feed__heading-parent {
        height: 6vh; } }
  .social-feed__tab-h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0 auto;
    border-bottom: 1px solid #f38e20; }
    @media only screen and (min-width: 106.5em) {
      .social-feed__tab-h2 {
        font-size: 3rem; } }
  .social-feed__heading {
    background: #f38e20;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    border-right: 1px solid black;
    border-bottom: 1px solid black; }
    @media only screen and (max-width: 75em) {
      .social-feed__heading {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .social-feed__heading {
        border-bottom: none; } }
    @media only screen and (max-width: 37.5em) {
      .social-feed__heading {
        display: none; } }
    @media only screen and (min-width: 106.5em) {
      .social-feed__heading {
        font-size: 2.75rem; } }
  .social-feed__btn-container {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    background: white;
    padding: 0 0.25rem; }
    @media only screen and (max-width: 75em) {
      .social-feed__btn-container {
        padding: 0; } }
    @media only screen and (max-width: 37.5em) {
      .social-feed__btn-container {
        width: 100%; } }
  .social-feed__feed-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .social-feed__feed-toggle {
        font-size: 1.5rem; } }
  .social-feed__label {
    margin: auto 0.5rem; }
    @media only screen and (max-width: 56.25em) {
      .social-feed__label {
        font-size: 1.5rem; } }
  .social-feed__chart-btn {
    cursor: pointer;
    border: 0;
    padding: 0.5rem 1.75rem;
    font-size: 1.75rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto 0.25rem;
    outline: none; }
    @media only screen and (min-width: 106.5em) {
      .social-feed__chart-btn {
        font-size: 2rem; } }
    .social-feed__chart-btn:hover {
      color: black;
      background: white; }
    .social-feed__chart-btn:active {
      box-shadow: none; }
  .social-feed__back-btn {
    cursor: pointer;
    right: 0;
    position: absolute;
    border: 0;
    padding: 0.5rem 2rem;
    font-size: 1.75rem;
    background: #f38e20;
    color: white;
    box-shadow: 0 0.25rem 1.25rem black;
    margin: auto 1rem;
    outline: none; }
    @media only screen and (min-width: 106.5em) {
      .social-feed__back-btn {
        font-size: 2rem; } }
    .social-feed__back-btn:hover {
      color: black;
      background: white; }
    .social-feed__back-btn:active {
      box-shadow: none; }

.weather-alert__alerts-parent {
  cursor: pointer;
  width: 100%;
  background: white;
  transition: 0.25s all; }
  .weather-alert__alerts-parent:hover > * .weather-alert__time-parent {
    background: rgba(243, 142, 32, 0.85); }

.weather-alert__time-locations-parent {
  display: flex;
  font-size: 1.5rem;
  flex-direction: column; }
  @media only screen and (max-width: 75em) {
    .weather-alert__time-locations-parent {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .weather-alert__time-locations-parent {
      flex-direction: column; } }
  @media only screen and (min-width: 106.5em) {
    .weather-alert__time-locations-parent {
      font-size: 1.75rem; } }

.weather-alert__time-parent {
  display: flex;
  flex-direction: column;
  background: rgba(243, 142, 32, 0.5);
  padding: 0.25rem; }
  @media only screen and (max-width: 37.5em) {
    .weather-alert__time-parent {
      font-size: 1.25rem;
      width: 100%; } }

.weather-alert__clock-item {
  white-space: nowrap; }

.weather-alert__locations-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  background: whitesmoke;
  padding: 0.5rem; }
  @media only screen and (max-width: 37.5em) {
    .weather-alert__locations-parent {
      font-size: 1rem; } }

.weather-alert__desc {
  font-size: 1.5rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background: white; }
  @media only screen and (max-width: 37.5em) {
    .weather-alert__desc {
      font-size: 1.25rem; } }

.open {
  border-top: 0; }

.close {
  border: 0; }
  .close > .weather-alert__desc {
    display: none; }

.tweet {
  border-bottom: 1px solid #154360;
  font-size: 1.5rem;
  padding: 1rem;
  animation: new-tweet 1s ease-in forwards;
  display: flex;
  align-items: center; }
  .tweet__info-parent {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem; }
  .tweet__profile-info {
    display: flex; }
    .tweet__profile-info > div {
      margin: auto 0.5rem; }
  .tweet__text {
    padding: 0.5rem; }
  .tweet__hashtag-parent {
    display: flex; }
  .tweet__hashtag {
    display: inline-block;
    width: fit-content;
    color: red;
    margin: auto 0.5rem; }

.cities__table {
  overflow: scroll;
  width: 100%; }

.cities__th {
  font-size: 2.25rem;
  text-decoration: underline black; }
  @media only screen and (max-width: 75em) {
    .cities__th {
      font-size: 1.75rem; } }
  @media only screen and (max-width: 56.25em) {
    .cities__th {
      font-size: 1.5rem; } }

.cities__td {
  font-size: 2rem;
  padding: 0.25rem 0;
  align-content: center;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .cities__td {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 75em) {
    .cities__td {
      font-size: 1.25rem; } }

.cities__city {
  align-content: center;
  align-items: center;
  padding: 0;
  font-weight: bold; }

#twitterWidgets-parent {
  width: 100%;
  height: fit-content;
  background: white; }

.activationList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(21, 67, 96, 0.95) 0%, rgba(21, 67, 96, 0.95) 100%), url("https://humanityroad.com/apps/us/images/hr-logo.jpg");
  background-size: cover;
  background-position: center; }
  .activationList__spinner-parent, .activationList__no-data {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white; }
  .activationList__no-data {
    font-size: 3rem;
    color: white; }
  .activationList__admin-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f38e20;
    border: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    box-shadow: 0 1rem 2rem black;
    cursor: pointer; }
    .activationList__admin-btn:hover {
      background: white;
      color: black; }
    .activationList__admin-btn:active {
      box-shadow: none; }
  .activationList__banner {
    margin: 5rem auto;
    height: 7vh; }
  .activationList__table {
    background: white;
    border-radius: 25px;
    padding: 3rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%; }
    @media only screen and (max-width: 56.25em) {
      .activationList__table {
        padding: 1rem; } }
    .activationList__table--admin-panel {
      width: 100%; }
    .activationList__table > caption {
      color: white;
      font-size: 4rem;
      margin: 1rem auto; }
  .activationList__th {
    font-size: 3rem; }
    .activationList__th--hidden {
      visibility: hidden; }
    @media only screen and (max-width: 75em) {
      .activationList__th {
        font-size: 2.5rem; } }
  .activationList__tr {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.25s; }
    .activationList__tr:hover {
      transform: scale(1.025); }
    .activationList__tr:hover > .activationList__td--open {
      transition: 0.5s; }
  .activationList__td {
    text-align: center;
    font-size: 2.5rem;
    border: 0 !important; }
    .activationList__td--admin-panel {
      width: 7.5%; }
    @media only screen and (max-width: 75em) {
      .activationList__td {
        font-size: 2rem; } }
    .activationList__td > button {
      margin: auto; }
    .activationList__td--open {
      cursor: pointer;
      display: flex;
      padding: 1rem 0;
      justify-content: center;
      align-items: center; }
      .activationList__td--open > img {
        width: 5rem;
        height: 5rem; }
    .activationList__td--active {
      color: lightgreen;
      font-weight: bold;
      animation: active 1s alternate infinite; }
    .activationList__td--inactive {
      color: #F31431; }
    .activationList__td--edit > button {
      font-size: 2.5rem;
      padding: 0.5rem 1.5rem;
      background: #f38e20;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 0.5rem 1rem black;
      cursor: pointer;
      transition: .25s; }
      @media only screen and (max-width: 75em) {
        .activationList__td--edit > button {
          font-size: 2rem; } }
      .activationList__td--edit > button:hover {
        box-shadow: none; }
    .activationList__td--activate > button {
      font-size: 2.5rem;
      padding: 0.5rem 1.5rem;
      background: #228b22;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 0.5rem 1rem black;
      cursor: pointer;
      transition: .25s; }
      @media only screen and (max-width: 75em) {
        .activationList__td--activate > button {
          font-size: 2rem; } }
      .activationList__td--activate > button:hover {
        box-shadow: none; }
    .activationList__td--deactivate > button {
      font-size: 2.5rem;
      padding: 0.5rem 1.5rem;
      background: #dc143c;
      color: white;
      border: 0;
      outline: none;
      box-shadow: 0 0.5rem 1rem black; }
      @media only screen and (max-width: 75em) {
        .activationList__td--deactivate > button {
          font-size: 2rem; } }
      .activationList__td--deactivate > button:hover {
        background: white;
        color: black; }
  .activationList__level-indicator {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white; }
    @media only screen and (max-width: 75em) {
      .activationList__level-indicator {
        width: 4.5rem;
        height: 4.5rem; } }
    .activationList__level-indicator--green {
      background: #228b22; }
    .activationList__level-indicator--yellow {
      color: black;
      background: yellow; }
    .activationList__level-indicator--red {
      background: #dc143c; }

.adminLogin {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 999; }
  .adminLogin__heading {
    border-bottom: 3px solid #f38e20;
    width: fit-content;
    margin: auto;
    font-size: 3rem; }
  .adminLogin__form {
    text-align: center;
    padding: 2rem;
    position: relative;
    background: white;
    width: 50%; }
    .adminLogin__form > h2 {
      text-align: center; }
  .adminLogin__back-btn {
    background: #f38e20;
    color: white;
    border: 0;
    outline: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem; }
    .adminLogin__back-btn:hover {
      background: white;
      color: black; }
  .adminLogin__code-input {
    text-align: center;
    font-size: 3rem;
    width: 50%;
    margin: 3rem auto;
    border: 1px solid black;
    padding: 0.5rem 1.5rem; }
  .adminLogin__submit-btn {
    background: #f38e20;
    color: white;
    border: 1px solid black;
    outline: none;
    font-size: 3rem;
    margin: auto 1rem;
    padding: 0.5rem 1.5rem; }
    .adminLogin__submit-btn:hover {
      background: white;
      color: black; }

.admin-panel__parent {
  background: white;
  margin: 1rem auto;
  text-align: center;
  padding: 1rem;
  position: relative;
  max-width: 75%; }
  @media only screen and (max-width: 75em) {
    .admin-panel__parent {
      width: 100%; } }

.admin-panel__heading {
  text-align: center;
  font-size: 3.5rem;
  border-bottom: 3px solid #f38e20;
  width: fit-content;
  margin: auto; }

.admin-panel__btn-parent {
  position: absolute;
  top: 0;
  right: 0; }

.admin-panel__create-btn {
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
  background: #f38e20;
  color: white;
  border: 0;
  box-shadow: 0 0.5rem 2rem black;
  transition: 0.25s;
  cursor: pointer; }
  .admin-panel__create-btn:active {
    box-shadow: none; }
  .admin-panel__create-btn:hover {
    box-shadow: none; }

.admin-panel__back-btn {
  font-size: 2rem;
  margin: 2rem 1rem;
  padding: 1rem 1.5rem;
  background: #f38e20;
  color: white;
  border: 0;
  box-shadow: 0 0.5rem 2rem black;
  cursor: pointer;
  transition: 0.25s; }
  .admin-panel__back-btn:hover {
    box-shadow: none; }

.createActivation {
  margin: 1rem auto; }
  .createActivation__form {
    background: white;
    width: 85%;
    margin: auto;
    text-align: center;
    padding: 1rem;
    position: relative; }
  .createActivation__search-form {
    width: 35%; }
  .createActivation__heading {
    font-size: 3.5rem;
    border-bottom: 3px solid #f38e20;
    width: fit-content;
    margin: auto; }
  .createActivation__exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 0.75rem;
    background: #f38e20;
    color: white;
    font-weight: bold;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem black; }
    .createActivation__exit-btn:hover {
      box-shadow: none; }
  .createActivation__label-input-parent {
    width: 85%;
    margin: auto;
    margin: 1rem auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .createActivation__input-wrapper {
    position: relative; }
  .createActivation__label {
    margin-right: 1.75rem;
    width: 25%;
    text-align: right; }
  .createActivation__input {
    width: 35%;
    font-size: 1.75rem;
    padding: 0.5rem 1rem; }
    .createActivation__input--select {
      text-align-last: center; }
    .createActivation__input--search-form {
      width: 100%; }
  .createActivation__add-search-btn {
    position: absolute;
    top: 50%;
    right: -22.5%;
    padding: 1rem 3rem;
    color: white;
    font-weight: bold;
    background: #f38e20;
    border: 0;
    font-size: 1.5rem;
    outline: 0;
    transform: translateY(-50%);
    border: 1px solid transparent;
    cursor: pointer; }
    .createActivation__add-search-btn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .createActivation__slider-parent {
    width: 100%;
    position: relative; }
  .createActivation__interval-count {
    position: absolute;
    right: 7%;
    top: 0; }
  .createActivation__search-params-totals {
    background: whitesmoke;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
    min-height: 15vh; }
    .createActivation__search-params-totals > h2 {
      font-size: 3rem; }
    .createActivation__search-params-totals > * h2 {
      font-size: 2.5rem; }
  .createActivation__single-search-item {
    display: inline-block;
    margin: 1rem;
    font-size: 1.75rem;
    padding: 1rem;
    background: #154360;
    color: white;
    border: 1px solid transparent;
    cursor: pointer; }
    .createActivation__single-search-item:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .createActivation__switch {
    margin: auto 1rem; }
  .createActivation__submit-btn {
    background: #f38e20;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 0;
    outline: 0;
    font-size: 2.5rem;
    box-shadow: 0 0.5rem 2.5rem black;
    cursor: pointer;
    transition: 0.25s; }
    .createActivation__submit-btn:hover {
      box-shadow: none; }
  .createActivation__delete-btn {
    background: #f38e20;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 0;
    outline: 0;
    font-size: 2.5rem;
    box-shadow: 0 0.5rem 2rem black;
    cursor: pointer;
    margin: auto 1rem; }
    .createActivation__delete-btn:hover {
      box-shadow: none; }
  .createActivation__layer-parent {
    display: flex;
    flex-direction: column;
    width: 35%; }
    .createActivation__layer-parent > input {
      width: 100%; }
  .createActivation__error-list {
    margin: 3rem auto;
    font-size: 2rem;
    color: red; }

.css-10nd86i {
  width: 35%; }

#select {
  width: 100%; }

.state-form {
  background: white;
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .state-form__exit-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f38e20;
    color: white;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem black; }
    .state-form__exit-btn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .state-form__label-input-parent {
    width: 85%;
    margin: auto;
    margin: 1rem auto;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .state-form__label {
    margin-right: 2rem;
    width: 25%;
    text-align: right; }
  .state-form__input {
    width: 35%;
    font-size: 3rem;
    padding: 0.5rem 1rem; }
    .state-form__input--select {
      text-align-last: center; }
    .state-form__input--search-form {
      width: 100%; }
  .state-form__submit-btn {
    width: fit-content;
    background: #f38e20;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 0;
    outline: 0;
    font-size: 3.5rem;
    box-shadow: 0 0.5rem 2.5rem black;
    cursor: pointer;
    margin: auto; }
    .state-form__submit-btn:hover {
      background: white;
      color: black; }

.earthquake {
  position: relative; }
  .earthquake__original-event {
    display: flex;
    display: flex;
    flex-wrap: wrap; }
  .earthquake__top-row {
    opacity: 0;
    display: none; }
  .earthquake__feed-item-parent:hover {
    background: rgba(243, 142, 32, 0.25); }
  .earthquake__td {
    text-align: left; }
    .earthquake__td > a {
      color: black; }
    .earthquake__td--name {
      padding-left: 1rem; }
  .earthquake__feed-toggle {
    z-index: 1;
    display: flex;
    font-size: 2rem;
    padding: 0.5rem;
    font-weight: bold;
    margin: 0.5rem auto;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 75em) {
      .earthquake__feed-toggle {
        font-size: 1.75rem; } }
  .earthquake__type-box {
    text-align: center;
    font-size: 1.5rem;
    width: 33.33%;
    padding: 0.25rem; }
    @media only screen and (min-width: 106.5em) {
      .earthquake__type-box {
        font-size: 2rem; } }
    .earthquake__type-box > h3 {
      margin: auto auto 0.5rem auto;
      font-size: 2rem;
      border-bottom: 2px solid #f38e20;
      width: fit-content; }
      @media only screen and (max-width: 75em) {
        .earthquake__type-box > h3 {
          font-size: 1.75rem; } }
      @media only screen and (min-width: 106.5em) {
        .earthquake__type-box > h3 {
          font-size: 2.25rem; } }
  .earthquake__no-events {
    font-size: 2.5rem;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%); }

.selectEarthquake {
  width: 75%;
  margin: auto;
  max-height: 40rem;
  overflow: scroll; }
  .selectEarthquake__h2 {
    font-size: 2.5rem; }
  .selectEarthquake__row {
    cursor: pointer; }
    .selectEarthquake__row:hover {
      background: rgba(243, 142, 32, 0.25); }
  .selectEarthquake__label {
    margin-right: 2rem;
    width: 25%;
    text-align: right; }
  .selectEarthquake__selected-title {
    display: inline-block;
    width: 35%;
    font-size: 1.75rem;
    padding: .5rem 1rem; }
  .selectEarthquake__changeEarthquake {
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    background: #f38e20;
    border: 1px solid transparent;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1.75rem;
    cursor: pointer; }
    .selectEarthquake__changeEarthquake:hover {
      background: white;
      color: black;
      border: 1px solid black; }

.socialAnalysis {
  height: 100%;
  background: white; }
  .socialAnalysis__no-data {
    background: #154360;
    width: 100%;
    position: absolute;
    top: 50%;
    padding: 1rem 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white;
    align-items: center;
    font-size: 2rem;
    justify-content: center; }
    @media only screen and (min-width: 106.5em) {
      .socialAnalysis__no-data {
        font-size: 2.5rem; } }

.entities__btns-parent {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 3px solid black;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 7vh; }
  .entities__btns-parent > button {
    cursor: pointer;
    border: 0;
    font-size: 2.25rem;
    background: #154360;
    color: white;
    font-weight: bold;
    padding: .75rem 0;
    border-bottom: 1px solid black; }
    .entities__btns-parent > button:hover {
      background: white;
      color: black; }

.entities__table {
  width: 75%;
  max-height: 100%;
  overflow-y: scroll;
  font-size: 2rem;
  margin-left: auto; }

.entities__td {
  text-align: center;
  width: 20%; }
  .entities__td--entity-name {
    width: 60%; }

.entities__no-data {
  background: #f38e20;
  width: 100%;
  position: absolute;
  top: 25%;
  text-align: center;
  margin: auto;
  font-size: 2.5rem; }

.trends {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start; }
  .trends__btn-parent {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: fit-content;
    position: absolute;
    left: 0;
    border-right: 1px solid black; }
  .trends__btn {
    padding: 0.5rem 0;
    text-align: center;
    display: block;
    outline: none;
    border: 0;
    border-bottom: 1px solid black;
    color: white;
    background: #154360;
    cursor: pointer;
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .trends__btn {
        font-size: 1.5rem; } }
    .trends__btn:hover {
      background: #5e849c; }

.hashtags {
  height: 100%; }
  .hashtags__toggle-btn-parent {
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem; }
    @media only screen and (max-width: 56.25em) {
      .hashtags__toggle-btn-parent {
        display: none; } }
    .hashtags__toggle-btn-parent--table-chart {
      font-size: 1.5rem; }
      @media only screen and (min-width: 106.5em) {
        .hashtags__toggle-btn-parent--table-chart {
          font-size: 2rem; } }
  .hashtags__label {
    margin: auto 0.5rem; }

.wordcloud__parent {
  margin-top: 1rem;
  height: 100%;
  display: flex;
  justify-content: center; }

.followerCount {
  width: 75%;
  margin-left: auto; }

.listSearch {
  text-align: center; }
  .listSearch__h3 {
    font-size: 2rem; }
  .listSearch__search-wrapper {
    display: flex;
    text-align: left;
    justify-content: center;
    align-items: center; }
  .listSearch__input, .listSearch .createActivation__input {
    width: 25%; }
  .listSearch__openBtn {
    padding: 1rem;
    font-size: 1.75rem;
    color: white;
    margin: 1rem;
    background: #154360;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.25s; }
    .listSearch__openBtn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .listSearch__input {
    width: 100%;
    text-align: center; }
  .listSearch__results-parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .listSearch__single-list {
    font-size: 1.5rem;
    width: 33%;
    color: white;
    margin: .5rem;
    background: #154360;
    padding: .5rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.25s; }
    .listSearch__single-list:hover {
      background: white;
      color: black;
      border: 1px solid black; }
      .listSearch__single-list:hover > * a {
        color: black; }
    .listSearch__single-list > * a {
      color: white;
      text-decoration: none;
      border-bottom: 1px solid #f38e20; }
    .listSearch__single-list > div {
      margin-top: 0.5rem; }
  .listSearch__list-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    padding: 1rem; }
  .listSearch__searchOpen {
    padding: 1rem;
    border: 1px solid transparent;
    cursor: pointer; }
    .listSearch__searchOpen:hover {
      background: white;
      border: 1px solid black; }

.listModal {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center; }
  .listModal__form {
    background: white;
    padding: 1rem; }
  .listModal > * h3 {
    font-size: 2.5rem; }
  .listModal > * h4 {
    font-size: 1.75rem; }
  .listModal__exitBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background: #f38e20;
    color: white;
    border: 1px solid transparent;
    cursor: pointer; }
    .listModal__exitBtn:hover {
      background: white;
      color: black;
      border: 1px solid black; }
  .listModal__selectedURI {
    font-size: 2rem;
    margin: 1rem; }
  .listModal__state {
    width: fit-content;
    font-size: 2rem;
    background: #f38e20;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.25s;
    color: white;
    margin: 0.25rem;
    display: inline-block; }
    .listModal__state:hover {
      background: white;
      color: black;
      border: 1px solid black; }
      .listModal__state:hover > * a {
        color: black; }

.mobileMenu {
  display: none;
  text-align: center;
  height: 4vh; }
  @media only screen and (max-width: 56.25em) {
    .mobileMenu {
      display: block; } }
  .mobileMenu__btn {
    cursor: pointer;
    border: 0;
    outline: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-size: 2rem;
    width: 33.33%;
    height: 100%;
    transition: 0.25s;
    background: whitesmoke; }
    .mobileMenu__btn:hover {
      background: #5e849c !important;
      color: white; }
    .mobileMenu__btn--middle {
      border-left: 1px solid black;
      border-right: 1px solid black; }
    .mobileMenu__btn--active {
      background: #5e849c !important;
      color: white; }
    @media only screen and (max-width: 37.5em) {
      .mobileMenu__btn {
        font-size: 1.5rem; } }

@keyframes pulse-alert {
  0% {
    opacity: .65; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes new-tweet {
  0% {
    background: lightgreen; }
  100% {
    background: rgba(255, 255, 255, 0); } }

@keyframes active {
  0% {
    color: lightgreen; }
  100% {
    color: green; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Noto Serif", serif; }

::-webkit-scrollbar {
  display: none; }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 37.5em) {
    body {
      min-height: 100vh;
      background: #154360; } }

.label {
  font-size: 3.5rem; }

.widgetActive {
  position: absolute;
  width: 100%; }

.widgetInactive {
  width: 100%;
  opacity: 0;
  position: absolute; }

.component {
  overflow-y: auto;
  border-top: 1px solid black; }
  @media only screen and (max-width: 56.25em) {
    .component {
      width: 100vw; }
      .component--hidden {
        display: none; }
      .component--visibile {
        display: block; } }
  .component__h1 {
    font-size: 4.5rem; }
  .component__h2 {
    font-size: 3.5rem;
    padding: 0.5rem;
    text-align: center; }

.active {
  background: #5e849c !important;
  box-shadow: none; }

.td-even {
  background: rgba(0, 0, 0, 0.05); }

.hidden {
  display: none; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 25px; }
  .switch--speed-btn {
    height: 24px;
    width: 50px; }
  .switch--table-chart {
    width: 34.17px;
    height: 16.75px;
    background: #154360; }
    .switch--table-chart > .slider:before {
      height: 11.39px;
      width: 11.39px;
      bottom: 2.5px;
      left: 2px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f38e20;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none; }

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.sliderSecondary {
  background: #f38e20 !important; }

.sliderPrimary {
  background: #154360 !important; }

input:checked + .slider {
  background-color: #f38e20 !important; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.slider--white {
  background: rgba(21, 67, 96, 0.75) !important; }
  .slider--white:before {
    background: white; }

#myMap {
  position: static !important; }

@media only screen and (max-width: 56.25em) {
  .mapTab {
    height: 100vh !important;
    width: 100vw !important; } }

#MicrosoftNav {
  display: none; }

.green {
  background: lightgreen !important; }

.orange {
  background: orange; }

.yellow {
  background: yellow; }

.red {
  background: red; }

.huge-text {
  font-size: 6rem;
  color: red; }

.modal-bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 100%;
  z-index: 999; }

.react-toggle {
  touch-action: pan-x;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; }

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s; }

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #154360;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.react-toggle--checked .react-toggle-track {
  background-color: #f38e20; }

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #f38e20; }

.react-toggle-track-check {
  position: absolute;
  width: 10px;
  height: 7px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle-track-x {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }

.react-toggle--checked .react-toggle-track-x {
  opacity: 0; }

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease; }

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #f38e20; }

.standard__data-parent {
  width: 75%;
  margin-left: auto; }

.standard__top-row {
  padding: 1rem;
  background: #154360;
  color: white; }

.standard__table {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll; }
  .standard__table--earthquake {
    max-height: 50% !important; }
  .standard__table--earthquake-feed {
    font-size: 2rem; }
    @media only screen and (max-width: 75em) {
      .standard__table--earthquake-feed {
        font-size: 1.5rem; } }

.standard__th {
  font-size: 2rem;
  text-align: center;
  padding: 0.25rem;
  background: #154360;
  color: white; }
  @media only screen and (max-width: 75em) {
    .standard__th {
      font-size: 1.75rem; } }
  @media only screen and (max-width: 75em) {
    .standard__th {
      font-size: 1.5rem; } }
  .standard__th--name {
    width: 75%; }
  .standard__th--earthquake {
    height: 5vh; }

.standard__td {
  font-size: 1.75rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .standard__td {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 75em) {
    .standard__td {
      font-size: 1.25rem; } }
